<?xml version="1.0" encoding="UTF-8"?>
<web-app id="mainmenu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>logview</display-name>

	<display-name>LogViewer</display-name>
	<description>LogViewer</description>

	<context-param>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>resourceCacheTime</param-name>
		<param-value>3600</param-value>
	</context-param>

	<servlet>
		<servlet-name>LogViewer</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>org.vaadin.addons.logview.LogViewApplication</param-value>
		</init-param>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>org.vaadin.addons.logview.widgetset.LogViewWidgetset</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogViewer</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>